.jumbotron {
	background-color: rgb(254, 255, 184);
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: rgb(254, 255, 184);
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-adress-icon {
	padding-right: 10px;
}

.social-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}


.carousel-indicators,
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
	filter: invert(100%);
	outline: black;
}

