$yellow: #f7ca00;
$black: #181713;
$red: #d81435;
$green: #1bd814;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;

    
}

.jumbotron {
	background-color: $yellow;
	color: $black;
	@include margenes(50px, 10px );
}

footer {
	padding: 10px 10px 0 10px;
	background-color:$yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel {
	flex: 1 200px;
	@include margenes(10px, 0px );
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-adress-icon {
	padding-right: 10px;
}

.social-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}


.carousel-indicators,
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
	filter: invert(100%);
	outline: $black;
}

