.jumbotron {
  background-color: #f7ca02;
  color: rgba(5, 5, 5, 0.938);
  margin-top: 50px;
  margin-bottom: 10px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #f7ca02;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-adress-icon {
  padding-right: 10px;
}
.social-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.carousel-indicators,
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
  outline: rgba(5, 5, 5, 0.938);
}
